################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/
*/obj/
*.g.cs
*/.vs/
.vs/
*.dll
/Nuget Package
